* {
    background-color: #bdbdbd;
    border-radius: 6px;
    font-family: "Lucida Console", sans-serif, monospace;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-size: 35px;
    text-decoration: underline;
}

h3 {
    font-size: 20px;
    text-align: center;
}

img {
    width: 400px;
    border-radius: 60px;
}

table {
    margin: auto;
}

ul {
    font-size: 20px;
}

button {
    font-size: 15px;
}

button:hover {
    background-color: white;
    cursor: pointer;
}

.td {
    padding: 10px;
    font-size: 30px;
}

#button_to_add {
    font-size: 40px;
}

.button_to_add {
    text-align: center;
}

button:active {
    background-color: rgb(110, 220, 255);
}

#crossbowForm {
    padding: 100px 100px 100px 100px;
    text-align: left;
    margin-left: 400px;
    margin-right: 400px;
}

.form {
    background-color: skyblue;
}

.form_input {
    width: auto;
    height: auto;
}

label {
    font-size: 20px;
    background-color: skyblue;
}

.save_form {
    background-color: skyblue;
    text-align: center;
    padding-top: 20px;
}
