* {
    background-color: #bdbdbd;
    border-radius: 8px;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-size: 35px;
    text-decoration: underline;
}

h3 {
    font-size: 20px;
    text-align: center;
}

img {
    width: 400px;
    border-radius: 80px;
}

table {
    margin: auto;
}

ul {
    font-size: 20px;
}

button {
    font-size: 15px;
}

button:hover {
    background-color: white;
    cursor: pointer;
}

.td {
    padding: 10px;
    font-size: 30px;
}
